Repository jjgroenendijk/LevelUp, changes with the labels that .github/labeler.yml gives for each.
All labels: homelab, containers, compose, documentation, ci, scripts, infrastructure

docs: restructure documentation and add GitHub automation guide
  docs/automation/github-automation.md
  docs/blog/2025-10-27_project-setup-and-automation.md
Labels: documentation

chore: remove test file from project root
  test-workflows.md
Labels: documentation

docs: restructure documentation and add GitHub automation guide (#6)
  docs/automation/github-automation.md
  docs/blog/2025-10-27_project-setup-and-automation.md
Labels: documentation

chore: remove test file from project root (#7)
  test-workflows.md
Labels: documentation

ci: add AI code review reminder workflow
  .github/workflows/ai-review.yml
Labels: ci

ci: add AI code review reminder workflow (#8)
  .github/workflows/ai-review.yml
Labels: ci

test: add file to test AI review workflow
  test-ai-review.md
Labels: documentation

feat: implement phase 1 deployment pipeline
  .github/workflows/homelab-sync.yml
  docs/automation/deployment-pipeline.md
  docs/automation/github-runner-setup.md
  homelab/opt/levelup-runtime/.env.example
  scripts/deploy.sh
Labels: homelab, documentation, ci, scripts

feat: implement phase 1 deployment pipeline (#11)
  .github/workflows/homelab-sync.yml
  docs/automation/deployment-pipeline.md
  docs/automation/github-runner-setup.md
  homelab/opt/levelup-runtime/.env.example
  scripts/deploy.sh
Labels: homelab, documentation, ci, scripts

Add Code Review documentation for OpenAI Codex
  docs/articles/Code Review.md
Labels: documentation

Add OpenAI Codex Code Review documentation (#12)
  docs/articles/Code Review.md
Labels: documentation

chore: configure GitHub runner security for public repository
  .github/CODEOWNERS
  .github/workflows/homelab-sync.yml
  .github/workflows/pr-validation.yml
  docs/automation/github-runner-setup.md
Labels: documentation, ci

docs: fix corrupted runner setup doc and add security reference
  docs/articles/Secure use reference - GitHub Docs.md
  docs/automation/github-runner-setup.md
Labels: documentation

security: remove dangerous systemctl wildcard from sudoers
  docs/automation/github-runner-setup.md
Labels: documentation

chore: remove ai-review workflow
  .github/workflows/ai-review.yml
Labels: ci

Configure GitHub runner security for public repository (#15)
  .github/CODEOWNERS
  .github/workflows/ai-review.yml
  .github/workflows/homelab-sync.yml
  .github/workflows/pr-validation.yml
  docs/articles/Secure use reference - GitHub Docs.md
  docs/automation/github-runner-setup.md
Labels: documentation, ci

chore: restructure repository to use top-level services directory
  .github/workflows/homelab-sync.yml
  .gitignore
  docs/automation/deployment-pipeline.md
  homelab/opt/levelup-runtime/.env.example
  scripts/deploy.sh
Labels: homelab, documentation, ci, scripts

chore: restructure repository to use top-level services directory (#16)
  .github/workflows/homelab-sync.yml
  .gitignore
  docs/automation/deployment-pipeline.md
  homelab/opt/levelup-runtime/.env.example
  scripts/deploy.sh
Labels: homelab, documentation, ci, scripts

.github/labeler.yml:

# Label PRs based on changed files

homelab:
  - changed-files:
    - any-glob-to-any-file: 'homelab/**/*'

containers:
  - changed-files:
    - any-glob-to-any-file: 'containers/**/*'

compose:
  - changed-files:
    - any-glob-to-any-file: '**/*compose*.yml'
    - any-glob-to-any-file: '**/*compose*.yaml'

documentation:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/*'
    - any-glob-to-any-file: '**/*.md'

ci:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'

scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'

infrastructure:
  - changed-files:
    - any-glob-to-any-file: 'homelab/etc/**/*'
    - any-glob-to-any-file: 'homelab/usr/**/*'
